.na-card-container {
  background-color: #fff3e3;
  border-radius: 8px;
  padding: 3rem
}

.na-text {
  font-size: 3.6rem;
  color: #b88e2f;
}

.na-card-container button{
    margin-top: 3rem;
    border: none;
    color: white;
    font-weight: 700;   
    padding: 2rem 4rem;
    background-color: #b88e2f;
}
